
<p><%= t('devise.mailer.reset_password_instructions.greeting', email: @resource.email, default: "Olá #{@resource.email}!") %></p>
<p><%= t('devise.mailer.reset_password_instructions.message', default: 'Alguém solicitou um link para alterar sua senha. Você pode fazer isso pelo link abaixo.') %></p>
<p><%= link_to t('devise.mailer.reset_password_instructions.action', default: 'Redefinir minha senha'), edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= t('devise.mailer.reset_password_instructions.ignore', default: 'Se você não solicitou, ignore este e-mail. Sua senha não será alterada até que você acesse o link acima e crie uma nova.') %></p>
